@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

* { margin: 0;}
html { height: 100%;}
body {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow: auto;
    background-color: pink;
}
/*----------------------------------------------------------*/
/*--------------------- Header section ---------------------*/
/*----------------------------------------------------------*/
header {
    order: 1;
    flex: 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 11em;
    width: 100%;
    position: sticky;
    top: 0;
    background: url("../images/footerBack.avif");
    background-position: center center;
    z-index: 1000;

}
.item.title {
    font-family: 'Macondo', cursive;
    font-size: 3.5em;
    text-shadow: 3px -4px 5px #4b0404;
    background-image: linear-gradient(90deg, gold, darkgoldenrod);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: inherit;
    align-self: center;
    margin: 0.5em;
    order: 1;

}
header img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 2em;
}
.item.logo {
    align-self: center;
    order: 2;
}
nav {
    height: 2em;
    width: 100%;
    display: inline-flex;
    align-self: center;
    order: 3;
}
nav>div {
    padding: 0 10px;
    font-size: 1em;
    text-shadow: 3px -4px 5px #4b0404;
    color: blanchedalmond;
}

/*----------------------------------------------------------*/
/*--------------------- Main section -----------------------*/
/*----------------------------------------------------------*/

main {
    order: 2;
    flex: 1 0 auto;
    font-family: 'Macondo', cursive;
    width: 100%;
    background: url("../images/mainBackground.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
    align-content: center;
    flex-basis: content;
}
.mainHero {
    width: 70%;
    order: 1;
    flex: 1 1 auto;
    margin: 15px;
    font-size: 1.5em;
}
.mainHero>img {
    height: 60%;
    width: 60%;
    padding: 2px;
    box-shadow: -6px 8px 5px #000000;
    border-radius: 20%;
    float: left;
    margin: 15px;
}
.mainHero h2 {
    padding-top: 1em;
}
.friends {
    width: 30%;
    order: 2;
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    background: url("../images/backHeroes.jpg");

}
.hero {
    align-self: flex-start;
    margin: 2px;
    text-align: center;
}
.hero:nth-child(1) {
    width: 100%;
    align-self: center;
    margin: 0.5em 0;
    color: blanchedalmond;
}
.hero>img {
    width: 125px;
    border-radius: 20%;
}

/*----------------------------------------------------------*/
/*--------------------- Footer section ---------------------*/
/*----------------------------------------------------------*/

footer {
    order: 3;
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #7a0101;
    bottom: 0;
}
.button {
    order: 3;
    height: 30px;
    padding: 5px;
    float: right;
    border: 1px solid #777;
    margin: 15px;
    background-color: lightslategray;
}
.aboutUs {
    order: 2;
    padding: 25px;
    text-align: center;
    color: blanchedalmond;

}
.trLogo {
    order: 1;
    margin: 20px;
}
